################################################################################
# Debuggers
################################################################################
snippet pt
	print('${1:varName}', $1)
snippet pt-
	print('********************', ' ${1:Message} ', '********************')
snippet pt8
	print('****************************************');
snippet ppt
	pprint('${1:varName}', $1)
snippet pipt
	from pprint import pprint
	pprint('${1:varName}', $1)
